.header-container {
  display: flex;
  flex-direction: row;
}

.nav-link {
  background-color: none;
  border: 0px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto';
}
.home-heading {
  list-style-type: none;
  margin-left: 9px;
}
